.page-home {
  font-size: large;

  p {
    text-align: justify;
    text-justify: inter-word;
    padding-top: 1em;
  }

  h1, h3 {
    display: block !important;
    text-align: left;
    width: 100%;
  }

  ol {
    font-family: $font-family-base;
    line-height: 1.56;
    color: $steel;
    text-align: justify;
    text-justify: inter-word;
    list-style-position: inside;
    padding-left: 0.8em;
  }

  mark {
    background: rgba(255, 0, 0, .1);
  }

  .bi {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .text-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .logo-image{
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
  }

  br{
    display:block;
    width: 100%;
  }

  .feature {
    height: 100%;
    border: 1px solid $white-offset;
    border-radius: 3px;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .feature-image {
      flex: 0 0 auto;
      width: 30px;
      height: 30px;
      display: flex;
      margin-bottom: 20px;
      text-align: center;
    }
    img {
      width: 100%;
      height: auto;
    }
    .feature-title {
    }
    .feature-content {
      margin-bottom: 0;
      margin-top: auto;
    }
  }

  .specialx {
    margin-bottom: auto;
    margin-top: auto;
  }
  .graphs{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .callmepink{
    background-color: #fff6f8;
  }

  .profession{
    display: block;
    width: 100%;
    .profession-title{
      font-family: $font-family-base;
      font-size: medium;
      text-align: center;
    }
    .profession-content{
      font-size: medium;
      text-align: center;
    }
    .profession-image{
      flex: 0 0 auto;
      width: 120px;
      height: 120px;
      display: flex;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .canyoucenterpls{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
