.page-home {
  font-size: large;
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  h1 {
    margin-top: 20px;
  }
  ol {
    font-family: $font-family-base;
    line-height: 1.56;
    color: $steel;
    text-align: justify;
    text-justify: inter-word;
    list-style-position: inside;
    padding-left: 0.8em;
    mark {
      background: rgba(255, 0, 0, .1)
    }
  }



}
